.gallery {
    width: 100%;
    overflow: hidden;
    position: relative;
    //background-color: #929292;
    box-sizing:border-box;

    &__inner {
        font-size: 0;
        position: relative;
        left: 0;
        height: 100%;
    }

    &__block {
        position: relative;
        overflow: hidden;
    }

    &__block:hover & {
        &__controls-buttons {
            & .prev {
                left: 0;
                background-position: center;
            }

            & .next {
                right: 0;
                background-position: center;
            }
        }
    }

    &__img-block {
        display: none;
        position: relative;
        text-align: center;
        height: 100%;
        vertical-align: middle;

        &__description {
            font-size: 20px;
            color: #222;
            display: none;
            margin-left: 15px;


            &.current {
                display: inline-block;
            }
        }

        &__img {
            max-width: 100%;
        }

        &.load {
            background: url('@{blockPaths}/gallery/images/sunny.gif') center no-repeat;
            background-size: 40px;
        }
    }

    &__description-block {
        padding: 15px 0;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        bottom: 80px;
        background: rgba(255,255,255, 0.7);
    }

    &__img-block:first-child {
        display: inline-block;
    }

    &__controls{
        z-index: 2;
        //position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0 0;

        &__ul {
            display: inline-block;
            margin: 0;
            padding: 0;
            vertical-align: middle;
        }

        &__thumbnails-ul {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            text-align: left;
            overflow: hidden;
        }

        &__inner {
            position: relative;

            &.go-back {
                transition:All 0.3s ease;
                -webkit-transition:All 0.3s ease;
                -moz-transition:All 0.3s ease;
                -o-transition:All 0.3s ease;
            }
        }

        &__item {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: grey;
            border: 2px solid white;
            margin: 0 10px;
            border-radius: 50%;
            cursor: pointer;

            &.current {
                background: red;
            }

            &:hover {
                color: #fff;
                transform: rotate(90deg) ;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
            }
        }
    }

    &__controls-buttons {
        position: absolute;
        top: 50%;
        width: 100%;

        & .prev,
        & .next {
            position: absolute;
            display: inline-block;
            width: 60px;
            height: 40px;
            cursor: pointer;
            vertical-align: middle;
            transition: All 0.3s ease;
            -webkit-transition: All 0.3s ease;
            -moz-transition: All 0.3s ease;
            -o-transition: All 0.3s ease;
            background-color: rgba(255,255,255, 0.8);

            background-repeat: no-repeat;
            border-radius: 0 20px 20px 0;
        }

        & .prev {
            left: -25px;
            background-image: url('@{blockPaths}/gallery/images/left_black.png');
            background-size: 30px;
            border-radius: 0 20px 20px 0;
            background-position: right;
        }

        & .next {
            right: -25px;
            background-image: url('@{blockPaths}/gallery/images/right_black.png');
            background-size: 30px;
            border-radius: 20px 0 0 20px;
            background-position: left;
        }
    }

    &__thumbnail {
        border: 3px solid #fff;
        margin-right: 15px;
        opacity: 1;

        &.current {
            opacity: 1;
            border: 3px solid #E6292F;
        }
    }
}